<div class="hero is-dark">
    <div class="container">
<h1 class="title">Burgers!</h1>

<h2 class="subtitle">Burgers that have not been devoured!</h2>
</div>
</div>
<div class="columns">
<div class="container column">
<ul>
  {{#each burgers}}
    <li>
        
        <p>ID: {{id}}</p>
        <p>Burger to be devoured: {{burger_name}}</p>
        
        
        <button class="devourBtn button" data-id="{{id}}"  data-newDevour="{{devoured}}">{{#if devoured}}ORDER AGAIN!!!{{else}}DEVOUR!!!{{/if}}</button>
        
        <P>WAS IT DEVOURED? {{devoured}}</P>
    </li>
  {{/each}}
</ul>
</div>
</div>
<h2>Burgers that have been devoured!</h2>



<h2>Order a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bo">Burger Name:</label>
    <input type="text" class="bo" name="burger_name">
    
  </div>

  <button type="submit">Order Now!</button>
</form>
