<li>
	{{burger_name}}

	<button id="changeStateBtn"class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}DEVOUR!!!{{else}}GIVE ME MORE!!!{{/if}}
	</button>

	<button id="deleteBtn"class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
